@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: white;
    height: 100vh;
    width: 100vw;
    background-color: rgb(237, 235, 235);
}

header {
    background-color: #6494ED;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    flex: 0 0 200px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.282);
}

header > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

#burger {
    display: none;
}

header > nav > a {
    color: white;
    background-color: #3A40E0;
    padding: 10px;
    text-decoration: none;
    margin: 5px;
    border-radius: 6px;
    text-align: center;
}

header > nav > a:hover {
    background-color: white;
    color: #3A40E0;
    transition: background-color 0.5;
}

nav {
    display: none;
}

main { 
    background-color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.314);
}

main > h2 { 
    font-size: 1.6em;
    text-align: center;
    color:  #6B3ADF;
}

main > p {
    padding: 10px 5px;
    text-align: justify;
}

