@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: white;
    height: 100vh;
    width: 100vw;
    background-color: rgb(237, 235, 235);
;
}

header {
    background-color: #6494ED;
    color: white;
    padding: 10px;
}

header > h1 {
    border: 1px dotted black;
}

header > nav {
    border: 1px dotted black;
}

main {
    background-color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.314);
}

main > h2 { text-align: center; }

main > p {
    padding: 10px 5px;
    text-align: justify;
}

